h1 {
  text-decoration: underline;
}

#app {
  color: black;
}

rect {
    stroke-width: 0;
}

.nil {
    fill: transparent;
    stroke: transparent;
}

line {
    stroke-width: 2;
    stroke-opacity: 0.2;
}

.neg {
    fill: black;
    stroke: red;
}

.zero {
    fill: slategrey;
    stroke: white;
}

.pos {
    fill: white;
    stroke: green;
}

svg.vision {
    backGround-color: grey;
}